.button {
    -fx-background-color: white;
}

.button:hover {
    -fx-background-color: #c5c5ff;
}

.button:pressed {
    -fx-background-color: #8c8cff;
}

.button:disabled {
    -fx-background-color: #cecece;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color:grey;
    -fx-border-radius:0;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.check-box:selected .box {
    -fx-background-color: #c5c5ff;
}

#bottom {
    -fx-padding: 5;
}

#checkBox {
    -fx-padding: 3 0 0 0;
}

.tree-cell:focused {
    -fx-background-color: ededff;
    -fx-border-width: 0;
}

.scroll-pane, .scroll-pane:focused {
    -fx-background-color: transparent;
}

.tree-view, .tree-view:focused {
    -fx-background-color: transparent;
}